.App {
  text-align: center;
}

.backDoor
{
  background-color: #333;
  position:relative;
  width:200px;
  height:300px;
  margin: 0 auto;
  
}
.logo
{
    font-size:xx-large  !important;
    color: white;
    font-size: bold;
}

.heading
{
    font-size: 60px;
}
.sider
{
   width: 50px;
   margin-top:5%;
   height: 100vh;
}
.body
{
     padding: 2%;
     margin-left: 300px;
     margin-top: 100px;
}
.door
{
  background-color: #F4B400;
  position:absolute;
  cursor: pointer;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

img {
  width:100%;
  height:100%;
}

.playing-area
{
   
   background-color:#4285F4;
   border-radius: 30px;
   margin-bottom: 50px;
}
.container {
   display: flex; 
   flex-wrap: wrap;
   
  }

.box { 
  flex-grow: 1; 
  margin: 3%;
 }

.custom-btn
{
     min-width: 100px;
     margin-top: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #F4B400 !important;

}

 .flex {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.container-1
{
     display: flex;
     flex-direction: column;
     background-color: white;
     padding: 20px;
     height: 80vh;
     border-radius: 30px;
     margin: 30px 10px;

}

.container-2
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container
{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
th, td {
  text-align: center;
  width:5%;
  margin: 0;
  padding: 0;
}
.row
{
    padding: 0 !important;
    margin: 0 !important;
}

.content
{
    margin-left:2%;
    position: relative;
}

@media only screen and (max-width: 480px) {
  .body {
    padding: 2%;
    margin-left: 10px;
    margin-top: 100px;
  }
  .logo
  {
    font-size:large  !important;
    color: white;
    font-size: bold;
  }
}


@media only screen and (max-width: 300px) {
  .logo
  {
    font-size:20px  !important;
    color: white;
    font-size: bold;
  }
}